body {
    padding-top:10vh;
    background-color: #f8d8d7;
    font-size: 20px;
}
h1 {
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;

    background-color: #7f7f7f;
    border: 5px solid #bafac5 ;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 100;
}
#navBar-nameTag {
    padding: 10vw;
    font-weight: 700;
    font-size: 100%;
}
.navBar-Container {
    width: auto;
    padding-left: 2vw;
    padding-right: 2vw;

    height: 10vh;
    line-height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
    border-left: 5px solid #bafac5;
    color: black;
}
.navBar-Container:hover {
    background-color: aqua;
}
.selected-navBar-Container {
    background-color: #e0cd95;
}
.navBar-Text {
    font-size: 30px;
    color: black;
}
.main-text-container {
    border: 5px groove black;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 20vh;
    left: 5vw;
    height: auto;
    width: 44vw;
    height: 30vh;
}
.heading-container {
    justify-content: center; 
}
.text-container {
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30vw;
    float: right;
    margin-right: 10vw;
    position: relative;
    top: -20vh;
}
@media (width < 600px) {
    body {
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
    .navBar {
        justify-content: space-evenly;
    }
    .navBar-Text {
        font-size: 10px;
        font-weight: 600;
    }
    .main-text-container {
        width: 80%;
        padding: 20px;
        height: 50%;
        top: 0px;
    }
    img {
        position: relative;
        top: 5vh;
        right: 6vw;
        width: 60vw;
    }
}